html, body {
  padding: 0;
  font-family: Sans-Serif;
  margin: 0 auto;
  background-color: #FFFFFF;
  color: #333333;
  font-size: 18px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
}

body {
	width: 80%;
}

/********************************** HEADER ********************************/

header {
	margin: 15px auto;
}

/* Photo */

.photo {
	width: 300px;
	float: left;
	text-align: center;
	position: relative;
	top: 80px;
	left: 30px;
}

.photo img {
	border-radius: 50%;
	padding-top: 10px;
}



/* Informations personnelles */

.info_perso {
	font-size: 20px;
	width: 700px;
	float: left;
	margin: 40px 0px 40px 80px;
}

.info_perso strong {
	color: #FFC200;
	font-size: 24px;
}

.info_perso h1 {
	font-family: 'Lora', serif;
	font-size: 40px;
}

.info_perso a {
	text-decoration: none;
	color: #333333;
}

.info_perso a:hover {
	text-decoration: none;
	color: #FFC200;
}


/* Compétences */

.competences {
	clear: both;
}

.competences div {
	display: inline-block;
	padding: 0 5px;
	width: 380px;
}

.competences h3 {
	margin-top: 50px;
	text-align: center;
	margin-left: -10px;
}

.competences ul {
	margin-bottom: 50px;
	line-height: 2;
	list-style: none;
}



/* Menu */

menu {
	text-align: center;
	margin: 30px auto;
	width: 1000px;
	padding: 0;
	font-style: bolder;
}

menu ul {
	padding: 0;
}

menu li {
	display: inline-block;
	margin : 0 35px;
}

menu a {
	text-decoration: none;
	color: #8A918F;
	font-size: 24px;
}

menu a:hover {
	color: #FFC200;
}




/**************************** Expériences professionnelles *******************************/

.pro {
	padding: 25 0;
}

.pro div {
	padding: 20;
}

.pro h2 {
	background-color: #333333;
	margin-top: 0;
	padding: 30 0;
	text-align: center;
	color: #FFFFFF;
}

.pro h3 {
	color: #FFC200;
}

.pro h3 em {
	color: #333333;
	margin-right: 25px;
}

.pro li {
	line-height: 1.5;
}


/************************************** Parcours de formation *************************/

.formation {
	padding: 25 0;
}

.formation div {
	padding: 20;
}

.formation h2 {
	background-color: #333333;
	margin-top: 0;
	padding: 30 0;
	text-align: center;
	color: #FFFFFF;
}

.formation h3 {
	color: #FFC200;
}

.dates {
	color: #333333;
	margin-right: 25px;
}

.formation li {
	line-height: 1.5;
}



/************************************** Information supplémentaires ****************/


.infos_sup h2 {
	background-color: #333333;
	margin-top: 0;
	padding: 30 0;
	text-align: center;
	color: #FFFFFF;
}

.infos_sup div {
	display: inline-block;
	width: 595px;
	line-height: 2.5;
}

.certifications {
	margin-left: 0px
	height: 50px;
}

.langues {
	margin-right: 0px;
	float: right;
}



/************************************************ Contact **********************/


.contact {
	background-color: #333333;
	text-align: center;
	color: #FFFFFF;
	padding: 30 0;
	margin-top: 40;
}

.contact h2 {
	color: #FFFFFF;
}


.contact i {
	color: #FFFFFF;
	padding: 0 20;
}

.contact i:hover {
	color: #FFC200;
}

.contact a {
	text-decoration: none;
	color: #FFFFFF;
}

.contact a:hover {
	color: #FFC200;
}